
:root{
    --color-primary: #FFF3C6;
    --color-secondary: #6491E4;
    --color-tertiary: #002BFF;
    --color-text: #FF3033;
    --color-back: #FF4000;
    --color-black: #000000;
    /*--color-primary-opacity: rgba(0, 0, 0, 0);*/
    --color-primary-hovered: rgba(30, 25, 21, 0.09);
}
.logo{
    font-family: "Supermercado One", serif;
    font-weight: 400;
    font-style: normal;
    color: #FF3033;
    font-size: 2rem;
    padding: 1rem 0 0 1rem;
}

.logo-navbar{
    font-family: "Supermercado One", serif;
    font-weight: 400;
    font-style: normal;
    color: #FF3033;
    font-size: 2rem;
}

.header-text {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-text);
}

.header2-text {
    font-size: 1.875rem;
    font-weight: bold;
    color: var(--color-text);
}

.header3-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-text);
}

.header4-text {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-text);
}

.header-text-big {
    font-size: 3.75rem;
    font-weight: bold;
    color: var(--color-text);
}
.header-text-huge {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--color-text);
}
@screen lg {
    .header-text-huge {
        font-size: 6rem;
    }
}

.input-style {
    margin-top: 0.25rem;
    background-color: white;
    border: 2px solid black;
    color: #1F2937;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: .9rem;
}

.input-style-survey {
    background-color: white;
    border: 2px solid black;
    color: #1F2937;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: .9rem;
}

.input-style-survey:hover{
    border: 2px solid darkgray;
}


.card-text-light {
    color: #6b7280;
    font-weight: 500;
}

.shadow-btn{
    box-shadow: 11px 13px 4px rgba(0, 0, 0, 0.25);
}
.shadow-btn:hover{
    transition: 200ms ease-in-out;
}

.card-shadow{
    -webkit-box-shadow: 5px 5px 6px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 6px 2px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 6px 2px rgba(0,0,0,0.4);
}

.bg-pattern {
    background: radial-gradient(circle, rgba(255, 48, 51, 0.25) 10%, transparent 11%);
    background-size: 3em 3em;
    background-color: #FFF4C6;
    opacity: 1
}

