
:root{
    --color-primary: #FFF3C6;
    --color-secondary: #6491E4;
    --color-tertiary: #002BFF;
    --color-text: #FF3033;
    --color-back: #FF4000;
    --color-black: #000000;
    /*--color-primary-opacity: rgba(0, 0, 0, 0);*/
    --color-primary-hovered: rgba(30, 25, 21, 0.09);
}
.logo{
    font-family: "Supermercado One", serif;
    font-weight: 400;
    font-style: normal;
    color: #FF3033;
    font-size: 2rem;
    padding: 1rem 0 0 1rem;
}

.landingPageLogo{
    font-family: "Supermercado One", serif;
    font-weight: 400;
    font-style: normal;
    color: #FF3033;
    font-size: 4rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.header-text {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-text);
}

.header2-text {
    font-size: 1.875rem;
    font-weight: bold;
    color: var(--color-text);
}

.header3-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-text);
}

.header4-text {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-text);
}

.header-text-big {
    font-size: 3.75rem;
    font-weight: bold;
    color: var(--color-text);
}

.input-style {
    margin-top: 0.25rem;
    background-color: white;
    border: 2px solid black;
    color: #1F2937;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: .9rem;
}

.input-style-survey {
    background-color: white;
    border: 2px solid black;
    color: #1F2937;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: .9rem;
}

.input-style-survey:hover{
    border: 2px solid darkgray;
}

.shadow-btn{
    box-shadow: 11px 13px 4px rgba(0, 0, 0, 0.25);
}
.shadow-btn:hover{
    transition: 200ms ease-in-out;
    background-color: #5c83cc;
}
